.Navheadings{
  font-size:medium;
  font-weight: 500;
  color: black;
  flex-direction: row;
  align-items: center;
}
.logo{
  left:4;
  height: 20;
}
.bold-on-hover:hover {
  border: 1px solid black;
}
.carouselcontainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 40vh;
}
.carouselcontainer {
  width: 100%; 
  overflow: hidden;
}

.carousel-inner {
  width: 100%; 
}

.carousel-item img {
  width: 100%; 
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

p {
  text-align: justify;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
}


